<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <meta name="description" content="Twallery">
        <meta name="keywords" content="Twallery">
        <title>Twallery</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="http://localhost:3000/socket.io/socket.io.js"></script>
    </head>

    <body>
        <div id="header" class="header clear-fix">
            <p class="text-center">
                <a href="{{ url_for('gallery') }}" class="twallery-font">Twallery</a>
                <button id="pause-btn" class="btn btn-lg btn-success btn-block" value="pause">Pause</button>
            </p>
        </div><!-- /header -->
        <hr>
        <div id="content">
        </div>
    </body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/twallery.js') }}"></script>
</html>
